<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>SignUp</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style>
    .form-signin { max-width: 300px; margin: 0 auto;}
    </style>
</head>
<body>
<div class="container">
  <form method="post" class="form-signin">
  {% csrf_token %}
   <h1 class="form-signin-heading">Sign Up</h1>
    {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
    {% for field in form %}
        {% if forloop.counter == 1 %}
        {% if field.errors %} <div class="alert alert-danger">{{ field.errors }}</div>{% endif %}
        <input type="text" class="form-control" name="username" placeholder="Username" required>
        {% elif forloop.counter == 2 %}
        {% if field.errors %} <div class="alert alert-danger">{{ field.errors }}</div>{% endif %}
        <input type="text" class="form-control" name="email" placeholder="Email" required>
        {% elif forloop.counter == 3 %}
        {% if field.errors %} <div class="alert alert-danger">{{ field.errors }}</div>{% endif %}
        <input type="password" class="form-control" name="password1" placeholder="Create password" required>
        {% else %}
        {% if field.errors %} <div class="alert alert-danger">{{ field.errors }}</div>{% endif %}
        <input type="password" class="form-control" name="password2" placeholder="Repeat password" required>
        {% endif %}
    {% endfor %}
    <button class="btn btn-block btn-lg btn-primary" type="submit" style="margin-top: 30px;">Sign Up</button>
    <a href="/accounts/signin" style="float: right; margin-top: 10px; margin-bottom: 30px;">Sign In</a>
</form>
</div>
</body>
</html>
